.rectangle1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: red;
}

.rectangle2 {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 150px;
    height: 150px;
    background-color: green;
}

.wrapper {
    position: relative;
}